services:
  # MariaDB Service
  mariadb:
    image: mariadb:10.11
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password123
    volumes:
      - mysqldata:/var/lib/mysql
  # phpMyAdmin Service
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mariadb
    depends_on:
      - mariadb
# Volumes
volumes:
  mysqldata: